.background-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
  }
  .form-container {
    place-self: center;
    width:max(23vw,360px);
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5;
  }  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .btn {
    padding: 10px 15px;
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  
  .toggle-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .toggle-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .toggle-link a:hover {
    text-decoration: underline;
  }